<%- include('./partials/head.ejs') %>

<div class="grid-container">

    <article class="introduction">
        <h1>Allergenen</h1>
        <p>Bekijk op deze pagina de verschillende allergenen in ons assortiment.
           Klik op een allergeen om alle producten te zien, informatie erover te lezen en het stappenplan te zien. 
        </p>
    </article>

    <% categories.forEach(category => { %>

        <a class="article-a" href="/productpagina?categorieId=<%= category.id %>">
            <article> 
                <h2><%= category.titel %></h2>
                <img class="article-img" src="/<%=category.titel%>.png" alt="afbeelding <%=category.titel%>">
            </article>
        </a>
    <% }); %>
</div>

<%- include('./partials/foot.ejs') %>

