<%- include('./partials/head.ejs') %>

<div class="grid-container">
   
    <div class="tips-container">

        <button class="button-tips-left button">&#10094;</button>
        <button class="button-tips-right button">&#10095;</button>

        <% producten.forEach(product => { %>
            <% if(product.categorie.titel === "Pinda") { %> 

              
                <% product.tips.forEach(function(tip) { %>
                    <article class="introduction tips-container tips-slider">
                        <h2>Belangrijke tips:</h2>
                        <ul> 
                            <li><%= tip.tekst %></li>
                        </ul>
                    </article>
                  <% }); %>
                       
            
            <% } %>
        <% }); %>
        </div>
        
        <% producten.forEach(product => { %>
            <% if(product.categorie.titel === "Pinda") { %>   
                <article>
                    <h2><%= product.titel %></h2>

                <% if(product.titel === "Mijn eerste pinda in 6 stappen") { %>   
                    <img class="article-img" src="/Pinda-6-stappen.webp" alt="Pinda in 6 stappen">
                <% } else if(product.titel === "Mijn eerste pinda in 3 stappen") { %> 
                    <img class="article-img" src="/Pinda-3-stappen.webp" alt="Pinda in 3 stappen">
                <% } else if(product.titel === "Pinda Opvolgkit") { %> 
                    <img class="article-img" src="/Pinda-opvolgkit.webp" alt="Pinda opvolgkit">
                <% } else if(product.titel === "Pinda presentje") { %> 
                    <img class="article-img" src="<%= product.plaatjes[0].url %>" alt="Pinda presentje">
                <% } %> 
                </article>
            <% } %>   
        <% }); %>
 
</div>



<%- include('./partials/foot.ejs') %>